{% extends 'base.html' %}

{% load django_tables2 %}

{% block content %}
{% if user.is_authenticated %}
  <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="search_bar">
  <input type="search" placeholder="Search" aria-label="Search" name = 'search' value = "{{search_term}}">
  <button type="submit"><i class="fa fa-search"></i></button>
</form><br>
  {% render_table app_table_instance %}

{% else %}
<div class="card" style="width: 20rem; margin: 0 auto; margin-top: 7.5rem;">
    <div class="card-body">
      <h5 class="card-title text-center">You are not signed in.</h5>
      <p class="card-text text-center">Please either log in or create an account</p>
      <div class="card-footer text-center">
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
        <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
  </div>
  </div>
{% endif %}
{% endblock content %}
