{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h1>Edit Classification</h1>
<form action="" method="post">{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-info" type="submit">Update</button>
</form>

{% else %}
<div class="card" style="width: 20rem; margin: 0 auto; margin-top: 7.5rem;">
    <div class="card-body">
      <h5 class="card-title text-center">You are not signed in.</h5>
      <p class="card-text text-center">Please either log in or create an account</p>
      <div class="card-footer text-center">
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
        <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
  </div>
  </div>
{% endif %}
{% endblock %}
