{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% if messages %}
  {% for message in messages%}
  <div>
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
{% else %}
{{order}}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label>Upload a file</label>
  <input type="file" name="file">
  <p>Only accepts csv</p>
  <button href='articles' type="submit" name="button">Upload file</button>

</form>
{% endif%}
{% else %}
<div class="card" style="width: 20rem; margin: 0 auto; margin-top: 7.5rem;">
    <div class="card-body">
      <h5 class="card-title text-center">You are not signed in.</h5>
      <p class="card-text text-center">Please either log in or create an account</p>
      <div class="card-footer text-center">
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
        <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
  </div>
  </div>
{% endif %}

{% endblock %}
