{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
<table class="table table-light table-striped" style="width: 100%; height: 100%">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Classification</th>
        <th>Source</th>
        <th>Date</th>
    </tr>
    </thead>
    {% for article in object_list %}
    <tr>
        <td>{{ article.id }}</td>
        <td>{{article.body}}</td>
        <td>{{article.body_str}}</td>
        <td>{{article.source}}</td>
        <td>{{ article.date.day }}/{{article.date.month}}/{{article.date.year}}-{{article.date.time}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}