{% extends 'base.html' %}
{% load bootstrap4 %}
{% load django_tables2 %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<div class="card" style="width: 50rem; margin: 0 auto; margin-top: 7.5rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Defect Analysis</h5>
      <p class="card-text text-center">A Visual, Interactive Guide to Defect Classification.<br>
          Utilising High-Quality, State of the Art Visualisation Techniques </p>
      <div class="card-footer text-center">
        <a class="graph_btn_2" href="{% url 'bar_chart' %}"><i class="fas fa-chart-bar"> Total Defects</i></a>
        <a class="graph_btn_2" href = "{% url 'monthly_bar_chart' %}"><i class="fas fa-calendar"> Monthly Defects</i></a>
        <a class="graph_btn_2" href = "{% url 'daily_bar' %}"><i class="fas fa-clock"> Daily Defects</i></a>
      </div>
  </div>
  </div>

{% endblock content %}

