{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="card" style="width: 20rem; margin: 0 auto; margin-top: 7.5rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Hi {{ user.username }}!</h5>
      <p class="card-text text-center">Welcome to the defect classification engine,
        the worlds premier defect classifier.</p>
      <div class="card-footer text-center">
        <a href="{% url 'logout' %}" class="btn btn-danger">Sign out</a>
        <a href="/defects/table" class="btn btn-primary">Defects</a>
      </div>
  </div>
  </div>
{% else %}

  <div class="card" style="width: 20rem; margin: 0 auto; margin-top: 7.5rem;">
    <div class="card-body">
      <h5 class="card-title text-center">You are not signed in.</h5>
      <p class="card-text text-center">Please either log in or create an account</p>
      <div class="card-footer text-center">
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
        <a href="{% url 'login' %}" class="btn btn-success">Log in</a>
  </div>
  </div>
{% endif %}
{% endblock %}
</div>
